services:
  traefiks:
    image: traefik:2.8
    container_name: traefiks
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/traefik.yml:ro"
      - "./acme.json:/acme.json"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.traefik.rule=Host(`sustainability.safaripro.net`)"  # Proper domain here
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"

  sustainability:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sustainability
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.sustainability.rule=Host(`sustainability.safaripro.net`)"  # Correct domain without http://
      - "traefik.http.routers.sustainability.entrypoints=websecure"
      - "traefik.http.routers.sustainability.tls=true"
      - "traefik.http.routers.sustainability.tls.certresolver=letsencrypt"
      - "traefik.http.services.sustainability.loadbalancer.server.port=8000"

  database:
    image: postgres:13
    container_name: database
    networks:
      - proxy
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data  # Persistent data storage for PostgreSQL
    restart: unless-stopped

  nginx:
    image: nginx
    volumes:
      - static_volume:/app/sustainability/staticfiles
      - media_volume:/app/sustainability/media
    ports:
      - "8001:80"
    depends_on:
      - sustainability

networks:
  proxy:
    external: true

volumes:
  media_volume:
  static_volume:
  db_data:
